/* Updated and New CSS */
.wy-body-for-nav {
    background: none
}
.wy-nav-content-wrap {
    margin-left: 0;
    min-height: auto;
    margin-bottom:60px;
}
.wy-nav-content-wrap,
.wy-nav-content{
    background:#fff
}
.wy-grid-for-nav {
    position:inherit;
    height: auto
}

.wy-nav-content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0
}
html{position:relative;min-height:100%;height:auto}
body {
    font-size: 1.0625rem;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important;
    font-weight: normal;
    line-height: 1.5;
    color: #222222;
    margin-bottom: 100px;
}
/* New CSS */

header {
    background: #004A83;
    border-bottom: 1px solid #DEE0E3;
    margin-bottom: 1.5rem
}
header.navbar-default{background: #004A83}

header .row:after{
    clear: both
}

header .row::before,
header .row::after,
.footer .row::before,
.footer .row::after {
    content: ' ';
    display: table
}

header .row,
header .row {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

header .top-links {
    background: #002d50;
    color: white;
    font-size: 0.875rem;
    padding-right: 0.75rem;
}

header .top-links a {
    color: white;
    margin: 0 0.375rem
}

header .locale {
    float: left;
    height: 2.25rem;
    margin-left: 0.75rem
}

header .inline-block{
    display: inline-block
}

header label {
    line-height: 1.5rem;
    margin: 0
}

header form.locale-form {
    display: inline-block;
    position: relative
}

header form.locale-form label {
    color: white;
    font-size: 0.875rem;
    font-weight: normal
}

header form.locale-form select.locale-switcher {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 0.875rem;
    margin-bottom: 0;
    outline: none;
    padding-left: 0.1875rem;
    padding-right: 1.5rem;
    width: auto
}

header form.locale-form select {
    background-image: url('http://proposals.votedevin.com/assets/language_select-53ebcec9cf71c3ed36a98141a81717ca6b24efa35fd9f85ec6b2113ce60c1953.png');
    background-origin: border-box;
    background-position: right;
    background-size: 24px 24px
}

header select {
    height: 2.4375rem;
    padding: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    color: #222222;
    background-color: #ffffff;
    border-radius: 0.1875rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-size: 9px 6px;
    background-position: right -1rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding-right: 1.5rem;
    text-transform: none;
    box-shadow: none
}

header .top-links ul {
    margin-bottom: 0
}

header .top-links ul li {
    display: inline-block
}

header .top-links ul li::after {
    content: "|"
}

header .top-links ul li:last-child::after {
    content: none
}

header .external-links {
    float: right
}

header .external-links {
    padding: 0.375rem 0;
    text-align: center
}

header .no-bullet {
    margin-left: 0;
    list-style: none
}

header .subnavigation {
    background: white;
    padding-bottom: 0
}

header .subnavigation ul li {
    display: inline-block;
    margin-right: 2.25rem
}

header .subnavigation ul li a {
    color: #222222;
    display: block;
    font-weight: bold;
    width: auto;
    line-height: 3rem;
    position: relative;
    text-align: left
}

header .top-bar-title {
    float: left;
    margin-right: 1rem
}

.show-for-small-only {
    display: none !important
}

header .logo {
    line-height: 3rem;
    margin-top: 0
}

header .logo {
    color: white;
    display: inline-block;
    font-family: 'Lato'!important;
    font-size: 1.5rem;
    font-weight: lighter;
}

header .top-bar .top-bar-title a {
    margin-top: 0;
    color: white;
    display: inline-block;
    font-family: 'Lato'!important;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 5rem !important;
    text-decoration: none !important;
}

header .top-bar .top-bar-title a img {
    height: 80px;
    margin-right: 0.75rem;
    margin-top: 0;
    width: 80px
}

header .float-left {
    float: left!important
}

header .top-bar .top-bar-right {
    width: auto
}

header .top-bar-right {
    float: right
}

header .top-bar ul {
    background: none;
    padding-right: 0.9375rem
}

header .top-bar ul.menu > li {
    display: table-cell;
    height: 5.25rem
}

header .top-bar ul.menu > li a {
    font-size: 0.875rem;
    padding: 0.6875rem 1rem;
    color: white
}

header .top-bar ul.menu > li a.button {
    background: white;
    color: #004A83;
    text-align: center
}

header .menu > li {
    vertical-align: middle
}

header .menu > li > a {
    display: block;
    line-height: 1;
    margin-bottom: 0
}

header .menu {
    list-style-type: none
}

header ul{
    line-height: 1.6;
    list-style-position: outside
}

header .button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.1875rem;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    background-color: #2199e8;
    color: #fff
}

.footer {
    background: #DEE0E3;
    border-top: 6px solid #004A83;
    padding:15px 0;
    clear:both;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    bottom:0;
}

.footer footer {
    color: #444;
    font-size:14px;
    text-align:justify;
    min-height:100px;
}

.footer .row {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 15px;
}

.footer footer a,
.footer footer a:active,
.footer footer a:focus {
    color: #004A83
}
.footer footer a:hover{
    color: #72afd2
}

/* Animated Hamburger CSS */
.hamburger{display:none!important;position:relative;right:15px;top:0;padding:24px 0;display:inline-block;cursor:pointer;transition-property:opacity,filter;transition-duration:.15s;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible}
.hamburger:hover{opacity:.7}
.hamburger-box{width:36px;height:24px;display:inline-block;position:relative}
.hamburger-inner{display:block;top:50%;margin-top:-2px}
.hamburger-inner,.hamburger-inner::after,
.hamburger-inner:before{width:36px;height:4px;background-color:#fff;border-radius:4px;position:absolute;transition-property:transform;transition-duration:.15s;transition-timing-function:ease}
.hamburger-inner:after,
.hamburger-inner:before{content:"";display:block}
.hamburger-inner:before{top:-10px}
.hamburger-inner:after{bottom:-10px}
.hamburger--slider .hamburger-inner{top:2px}
.hamburger--slider .hamburger-inner:before{top:10px;transition-property:transform,opacity;transition-timing-function:ease;transition-duration:.15s}
.hamburger--slider .hamburger-inner:after{top:20px}
.hamburger--slider.is-active .hamburger-inner{transform:translate3d(0,10px,0) rotate(45deg)}
.hamburger--slider.is-active .hamburger-inner:before{transform:rotate(-45deg) translate3d(-5.71px,-6px,0);opacity:0}
.hamburger--slider.is-active .hamburger-inner:after{transform:translate3d(0,-20px,0) rotate(-90deg)}

@media(max-width:479px){
    .wy-nav-content-wrap{margin-bottom:100px}
}
@media(max-width:767px){
    .hamburger{display:block!important}
    .locale, .top-bar-right .menu{display:none}
    header .top-links{padding-right:0}
    header .external-links{float:none}
    header .subnavigation ul li{float:none;margin-right:0;display:block}
    header .subnavigation{background:transparent;border-color:#002d50}
    header .subnavigation ul li a{color:#fff;line-height:40px}
    header .subnavigation ul li a:hover{color:#72afd2}

}
